annotated-types==0.8.0
blinker==1.9.0
cachelib==0.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
colorcet==3.2.1
comm==0.2.3
dash==4.4.1
dash-extensions==2.0.6
dash-leaflet==1.1.3
dash-svg==0.0.12
dataclass-wizard==1.0.0
EditorConfig==0.17.1
Flask==3.1.3
Flask-Caching==2.4.1
geobuf==2.0.1
idna==3.18
importlib_metadata==9.0.0
itsdangerous==2.2.0
janus==2.0.0
Jinja2==3.1.6
jsbeautifier==2.0.3
MarkupSafe==3.0.3
more-itertools==11.1.0
narwhals==2.24.0
nest-asyncio==1.6.0
numpy==2.5.1
packaging==26.2
pandas==3.0.5
plotly==6.9.0
protobuf==7.35.1
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
retrying==1.4.2
setuptools==83.0.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
Werkzeug==3.1.8
zipp==4.1.0
